* {
	padding: 0;
	margin: 0;
	/* 移动端禁止选中文字 */
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	/* 只兼容webkit内核浏览器 */
	user-select: none;
}

html {
	color: black;
	font-size: 24px;
	background-color: snow;
	/* 解决移动端页面点击图标或按钮产生阴影 */
	-webkit-tap-highlight-color: transparent;
	/* 页面变灰 */
	/* filter: grayscale(100%); */
}

.one {
	margin-top: 30px;
}

img {
	width: 26px;
	height: 26px;
}

p {
	font-weight: normal;
	padding: 0 20px;
}

a {
	display: inline-block;
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;
	padding: 20px 20px 10px 20px;
}

/* 爱心一直闪动 */
.heartbeat {
	animation: heartbeat 1s linear infinite;
	/* 其它浏览器兼容性前缀 */
	-webkit-animation: heartbeat 1s linear infinite;
	-moz-animation: heartbeat 1s linear infinite;
	-ms-animation: heartbeat 1s linear infinite;
	-o-animation: heartbeat 1s linear infinite;
}

@keyframes heartbeat {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* 添加兼容性前缀 */
@-webkit-keyframes heartbeat {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes heartbeat {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes heartbeat {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes heartbeat {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.graph {
	/* 固定位置 */
	position: fixed;
	top: 50%;
	right: 4%;
}

.graph img {
	width: 34px;
	height: 34px;
	/* 让整个div显示手型鼠标指向 */
	cursor: pointer;
	z-index: 99;
	border-radius: 50%;
	/* 旋转阴影 */
	box-shadow: -2px 0px 8px #f00, 0px -2px 8px #000, 0px 2px 8px #9e038a, 2px 0px 8px #0f0;
}

/* 图片围绕中心点一直旋转 */
.rotate {
	-webkit-transform: rotate(360deg);
	animation: rotation 4s linear infinite;
	-moz-animation: rotation 4s linear infinite;
	-webkit-animation: rotation 4s linear infinite;
	-o-animation: rotation 4s linear infinite;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}
